body {
    color: #333333;
    background: #ffffff;
}


a:link, a:visited {
    color: #186818;
}

a:focus, a:hover {
    color: #003308;
}

a.section:link, a.section:visited {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    color: #666666;
}


h3 {
    color: #666666;
}

h5 {
    color: #666666;
}

blockquote {
    color: #777777;
    border-left: 5px solid #dddddd;
}

code, pre {
    color: #666666;
}

pre.literal-block {
    background: #ededed;
}

code strong {
    color: #993300;
}

hr {
    color: #ededed;
    background-color: #ededed;
}


.help, p.help, form p.help, div.help, form div.help, div.help li {
    color: #999999;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #999999;
}


table {
    border-color: #cccccc;
}

td, th {
    border-bottom: 1px solid #ededed;
}


thead th,
tfoot td {
    color: #666666;
    background: #ffffff;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

tfoot td {
    border-top: 1px solid #ededed;
}

thead th.required {
    color: #000000;
}

tr.alt {
    background: #f6f6f6;
}

tr:nth-child(odd), .row-form-errors {
    background: #ffffff;
}

tr:nth-child(even),
tr:nth-child(even) .errorlist,
tr:nth-child(odd) + .row-form-errors,
tr:nth-child(odd) + .row-form-errors .errorlist {
    background: #f8f8f8;
}

thead th {
    background: #f6f6f6;
}

thead th a:link, thead th a:visited {
    color: #666666;
}

thead th.sorted {
    background: #ededed;
}

table thead th .text a:focus, table thead th .text a:hover {
    background: #ededed;
}



table thead th.sorted .sortoptions a.sortremove:after {
    color: #999999;
}

table thead th.sorted .sortoptions a.sortremove:focus:after,
table thead th.sorted .sortoptions a.sortremove:hover:after {
    color: #186818;
}

input[type=text], input[type=password], input[type=email], input[type=url],
input[type=number], input[type=tel], textarea, select, .vTextField {
    border: 1px solid #cccccc;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=url]:focus, input[type=number]:focus, input[type=tel]:focus,
textarea:focus, select:focus, .vTextField:focus {
    border-color: #999999;
}


.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #3c943c;
    color: #ffffff;
}


.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #2b832a;
}


.button.default, input[type=submit].default, .submit-row input.default {
    background: #175d17;
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #063405;
}

.module {
    background: #ffffff;
}


.module h2, .module caption, .inline-group h2 {
    background: #3c943c;
    color: #ffffff;
}


ul.messagelist li {
    background-color: #ddffdd;
    color: #333333;
}

ul.messagelist li.warning {
    background-color: #ff9195;
}

ul.messagelist li.error {
    background-color: #ffeeee;
}

.errornote {
    color: #b92020;
    border: 1px solid #b92020;
    background-color: #ffffff;
}

ul.errorlist {
    color: #b92020;
    background: #ffffff;
}

.form-row.errors {
    border-bottom: 1px solid #ededed;
}

.errors input, .errors select, .errors textarea,
td ul.errorlist + input, td ul.errorlist + select, td ul.errorlist + textarea {
    border: 1px solid #b92020;
}


div.breadcrumbs {
    background: #3c943c;
    color: #74b574;
}

div.breadcrumbs a {
    color: #ffffff;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #74b574;
}

a.deletelink:link, a.deletelink:visited {
    color: #cc3434;
}

a.deletelink:focus, a.deletelink:hover {
    color: #993232;
}


.object-tools a:link, .object-tools a:visited {
    background: #999999;
    color: #ffffff;
}

.object-tools a:focus, .object-tools a:hover {
    background-color: #175d17;
}


#header {
    background: #175d17;
    color: #ff9195;
}

#header a:link, #header a:visited {
    color: #ffffff;
}

#branding h1 {
    color: #ff9195;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #ff9195;
}

#branding h2 {
    color: #ff9195;
}

#user-tools a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#user-tools a:focus, #user-tools a:hover {
    border-bottom-color: #3c943c;
    color: #3c943c;
}


#content-related {
    background: #f8f8f8;
}

#content-related h3 {
    color: #666666;
}



#content-related .module h2 {
    border-bottom: 1px solid #eaeaea;
    color: #333333;
}

.delete-confirmation form input[type="submit"] {
    background: #b92020;
    color: #ffffff;
}

.delete-confirmation form input[type="submit"]:active,
.delete-confirmation form input[type="submit"]:focus,
.delete-confirmation form input[type="submit"]:hover {
    background: #a31414;
}

.delete-confirmation form .cancel-link {
    background: #dddddd;
}

.delete-confirmation form .cancel-link:active,
.delete-confirmation form .cancel-link:focus,
.delete-confirmation form .cancel-link:hover {
    background: #cccccc;
}

